.image-container {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1em;
}
#image {
    max-width: 1280px;
    max-height: 720px;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .image-container {
        margin-top: 0.5em;
    }
}