<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>PiMonitor</title>
</head>
<body>
    <header>
        <h1 class="text-centered centered">PiMonitor Live</h1>
    </header>
    <div class="container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/default.jpg') }}" class="centered" id="image">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>